#backup
/backup/

#collecing folders
/driver/
/redist/
/simd95/
/tools/

# generated and temporary files
*.o
*.bak
*.tmp
*.gen
*.exe
*.res

# release and testing scripts
*.bat

# user defined configuration
config.mk

